.grid {
  display: grid;
  grid-gap: 2rem;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(1, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
  margin: 0;
  /* justify-content: center;
  align-items: center; */
}

@media (min-width: 1140px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    display: flex;
    flex-direction: column;
    margin-left: 25rem;
    margin-right: 25rem;
  }
}
